/* Coolors Exported Palette - https://coolors.co/1a1a1a-333333-4d4d4d-666666-808080-999999-b3b3b3-cccccc-e6e6e6- */

/* SCSS HEX */
$black: #000000;
$eerie-black: #1a1a1a;
$jet: #333333;
$davys-grey: #4d4d4d;
$dim-gray: #666666;

$gray-web: #808080;

$spanish-gray: #999999;
$silver-chalice: #b3b3b3;
$light-gray: #cccccc;
$platinum: #e6e6e6;
$white: #ffffff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$eerie-black: hsla(0, 0%, 10%, 1);
$jet: hsla(0, 0%, 20%, 1);
$davys-grey: hsla(0, 0%, 30%, 1);
$dim-gray: hsla(0, 0%, 40%, 1);

$gray-web: hsla(0, 0%, 50%, 1);

$spanish-gray: hsla(0, 0%, 60%, 1);
$silver-chalice: hsla(0, 0%, 70%, 1);
$light-gray: hsla(0, 0%, 80%, 1);
$platinum: hsla(0, 0%, 90%, 1);
$white: hsla(0, 0%, 100%, 1);

